body,
html {
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* overflow: hidden;
  padding-right: 25px; */
}

.footer-container footer#section-footer {
	background: #0a0a0a !important;
}

html {
	overflow: hidden !important;
}

canvas {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.landscape {
	z-index: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.landscape .landscapeItem {
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: -100%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-moz-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
	-o-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
	-webkit-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
	-ms-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
	transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
}

.landscape .landscapeItem.animateIn {
	bottom: 0px;
}

.landscape .landscapeItem.animateOut {
	bottom: -100%;
}

.landscape .landscapeItem.mountains.background {
	-moz-transition: 1s cubic-bezier(0.33, 0, 0, 1);
	-o-transition: 1s cubic-bezier(0.33, 0, 0, 1);
	-webkit-transition: 1s cubic-bezier(0.33, 0, 0, 1);
	-ms-transition: 1s cubic-bezier(0.33, 0, 0, 1);
	transition: 1s cubic-bezier(0.33, 0, 0, 1);
	bottom: 0;
	opacity: 0;
	z-index: 1;
	background-color: transparent;
	/* background-image: url(/original-_5_.svg); */
}

.landscape .landscapeItem.mountains.background.animateIn {
	opacity: 0.6;
	background-blend-mode: lighten;
	background-color: rgba(0, 0, 0, 0.1);
}

.landscape .landscapeItem.mountains.midground {
	z-index: 2;
	background-image: url(https://raw.githubusercontent.com/shdwmtr/steambrew/refs/heads/main/www/public/mountain4.svg);
}

.landscape .landscapeItem.mountains.foreground {
	z-index: 3;
	background-image: url(https://raw.githubusercontent.com/shdwmtr/steambrew/refs/heads/main/www/public/mountain3.svg);
}

.landscape .landscapeItem.mountains:nth-last-child(1) {
	-moz-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.landscape .landscapeItem.mountains:nth-last-child(2) {
	-moz-transition-delay: 0.7s;
	-o-transition-delay: 0.7s;
	-webkit-transition-delay: 0.7s;
	-ms-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.landscape .landscapeItem.mountains:nth-last-child(3) {
	-moz-transition-delay: 0.8s;
	-o-transition-delay: 0.8s;
	-webkit-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.landscape .landscapeItem.mountains:nth-last-child(4) {
	-moz-transition-delay: 0.9s;
	-o-transition-delay: 0.9s;
	-webkit-transition-delay: 0.9s;
	-ms-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

.landscape .landscapeItem.mountains:nth-last-child(5) {
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
}

.landscape .landscapeItem.mountains:nth-last-child(6) {
	-moz-transition-delay: 1.1s;
	-o-transition-delay: 1.1s;
	-webkit-transition-delay: 1.1s;
	-ms-transition-delay: 1.1s;
	transition-delay: 1.1s;
}

.landscape .landscapeItem.mountains:nth-last-child(7) {
	-moz-transition-delay: 1.2s;
	-o-transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
	transition-delay: 1.2s;
}

.landscape .landscapeItem.mountains:nth-last-child(8) {
	-moz-transition-delay: 1.3s;
	-o-transition-delay: 1.3s;
	-webkit-transition-delay: 1.3s;
	-ms-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

.landscape .landscapeItem.mountains:nth-last-child(9) {
	-moz-transition-delay: 1.4s;
	-o-transition-delay: 1.4s;
	-webkit-transition-delay: 1.4s;
	-ms-transition-delay: 1.4s;
	transition-delay: 1.4s;
}

.landscape .landscapeItem.mountains:nth-last-child(10) {
	-moz-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
	-ms-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

.landscape .landscapeItem.trees.background {
	z-index: 4;
	background-image: url(https://raw.githubusercontent.com/shdwmtr/steambrew/refs/heads/main/www/public/mountain2.svg);
}

.landscape .landscapeItem.trees.midground {
	z-index: 5;
	background-image: url(https://raw.githubusercontent.com/shdwmtr/steambrew/refs/heads/main/www/public/mountain1.svg);
}

.landscape .landscapeItem.trees.foreground {
	z-index: 6;
	background-image: url(https://raw.githubusercontent.com/shdwmtr/steambrew/refs/heads/main/www/public/mountain.svg);
}

.landscape .landscapeItem.trees:nth-last-child(1) {
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.landscape .landscapeItem.trees:nth-last-child(2) {
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.landscape .landscapeItem.trees:nth-last-child(3) {
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.landscape .landscapeItem.trees:nth-last-child(4) {
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.landscape .landscapeItem.trees:nth-last-child(5) {
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.landscape .landscapeItem.trees:nth-last-child(6) {
	-moz-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.landscape .landscapeItem.trees:nth-last-child(7) {
	-moz-transition-delay: 0.7s;
	-o-transition-delay: 0.7s;
	-webkit-transition-delay: 0.7s;
	-ms-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.landscape .landscapeItem.trees:nth-last-child(8) {
	-moz-transition-delay: 0.8s;
	-o-transition-delay: 0.8s;
	-webkit-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.landscape .landscapeItem.trees:nth-last-child(9) {
	-moz-transition-delay: 0.9s;
	-o-transition-delay: 0.9s;
	-webkit-transition-delay: 0.9s;
	-ms-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

.landscape .landscapeItem.trees:nth-last-child(10) {
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
}

.landscape .landscapeItem.topographic {
	transition: 1s opacity cubic-bezier(0.33, 0, 0, 1);
	transition-delay: 2s;
	opacity: 0;
	bottom: 0;
	z-index: 7;
	/* background-image: url("https://assets.wrap.co/asset/b62cefa-1b65-4fa5-91db-cd360855b0f6/original?1477070083"); */
}

.landscape .landscapeItem.topographic.animateIn {
	opacity: 0.2;
}

.landscape .landscapeItem.topographic.animateOut {
	opacity: 0;
}
